* {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #fff !important;
}
.side-bg-color {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #111;
  color: aliceblue;
}
.madle-bg-color {
  background: rgb(75, 75, 75);
  color: aliceblue;
  margin-left: 16.7%;
}
.side-right-bg-color {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background: #111;
  color: aliceblue;
}
